.input {
    border: 2px solid transparent;
    width: 15em;
    height: 4em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  button {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  }
  
  button:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }

  table, td {
    border: 3px solid #ccc;
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }
  /* ----------------- */
  .button:hover {
    background-color: #3a8384; /* Verde más oscuro */
  }
  .container {
    margin: 0 200px; /* Establece un margen de 20px a los lados */
    color: aliceblue;
    background: linear-gradient(to right, rgb(0, 42, 255), #00eeff); /* Colores degradados */

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  /* Definimos la clase para el fondo degradado */
  .navbar-degradado {
    background: linear-gradient(to right, rgb(0, 255, 234), #0026ff); /* Colores degradados */
  }
  .centrar{
    margin: 0 50px;
    display:grid;
    place-items:center;
  }
  body{
    text-align: justify;
  }
  .coloreartext{
    color: beige;
  }
.divespecial{
    margin: 0 500px;
    padding: 20px;
    display:grid;
    place-items:center;
    border-radius: 28px;
    background: linear-gradient(225deg, #d5d5d5, #fefefe);
    box-shadow:  -22px 22px 44px #a8a8a8,
             22px -22px 44px #ffffff;
}
.gatohistory{
    text-align: justify;
    margin: auto 200px ;

  }
  .button1 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button1::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button1:hover::before {
    scale: 3;
  }
  
  .button1:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button1:active {
    scale: 1;
  }
  
  
  