<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LaBOrAtoRiO 18</title>
    <link
  
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="estilos.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: rgba(0, 255, 255, 0.017);">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="https://www.onepointesolutions.com/wp-content/uploads/2022/05/5-Types-of-Chemistry.jpg"
            width="112"
            height="28"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>

          <a class="navbar-item" href="/gato"> Juega Gato </a>
          <a class="navbar-item" href="/historia"> Un poco de historia </a>
          <a class="navbar-item" href="/nombre"> Dinos tu nombre </a>
          <a class="navbar-item" href="/creacoche"> Añade un Auto </a>
          <a class="navbar-item" href="/coches"> Mis coches </a>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if (username == '') { %>
                  <a href="/users/signup" class="button is-primary">
                    <strong>Regístrate</strong>
                  </a>
                <% } else { %>
                <strong> Hola <%= username %> | &nbsp;&nbsp;</strong>
                <a href="/users/logout" class="button1"> Salir </a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
