<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos,
}) %>

    <div class="intro">
    <h1 class="title">Este es mi laboratorio 22</h1>

    <p>
      En esta actividad exploraremos el manejor de archivos con node + express. Entenderemos como funciona la subida de archivos a un servidor.
      <br>
    </p>
    <p>
      <br><br>
      <section>
        <h2>¿Qué es Node.js?</h2>
        <p>Node.js es un entorno de ejecución para JavaScript construido sobre el motor V8 de Chrome. Permite ejecutar código JavaScript en el servidor, fuera de un navegador web. Esto habilita el desarrollo de aplicaciones con capacidad de realizar operaciones de entrada/salida intensivas, acceso a sistemas de archivos, comunicación en red y más, utilizando un lenguaje de programación unificado tanto para el cliente como para el servidor.</p>
    </section>
    <section>
        <h2>¿Qué es Express?</h2>
        <p>Express es un framework para Node.js diseñado para facilitar la creación de aplicaciones web y API de manera rápida y sencilla. Proporciona herramientas simples para las tareas comunes relacionadas con el desarrollo de servidores web, como el manejo de rutas, gestión de solicitudes y respuestas, y la integración con bases de datos. Express permite estructurar una aplicación de manera flexible, con soporte para middleware, lo que facilita la creación de aplicaciones robustas y escalables.</p>
    </section>
    <section>
        <h2>Funcionamiento Conjunto</h2>
        <p>Utilizando Node.js y Express juntos, los desarrolladores pueden construir aplicaciones web completas con relativa facilidad. Node.js proporciona el entorno de ejecución y las capacidades de bajo nivel, mientras que Express ofrece un marco de alto nivel para organizar la aplicación, manejar las solicitudes HTTP, y mucho más. Esta combinación resulta en un ecosistema potente y flexible para el desarrollo web moderno.</p>
    </section>

<br>
    </div>
    <div class ="gatoc"><img src="https://ih1.redbubble.net/image.4717906699.9120/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="375" height="500"></div>
    </div>
    <br>
    <%- include('includes/foot.ejs') %>
