<%- include('includes/head.ejs') %>
<div class="centrar"><h2 class="title">Añade un nuevo coche</h2></div><br>
<div class="centrar">
    <div class="columns">
        <form action="/creacoche" method="POST">
            <div class="column"><label class="label" for="marca">Marca </label><br>
            <input class="input text" id="marca" name="marca"></div>
            <div class="column"><label class="label" for="modelo">Modelo </label><br>
            <input class="input text" id="modelo" name="modelo"></div>
            <div class="column"><label class="label" for="motor">Motor </label><br>
            <input class="input text" id="motor" name="motor"></div>
            <div class="column"><label class="label" for="imagen">imagen </label><br>
            <input class="input text" id="imagen" name="imagen"></div>
            <br>
            <div class="centrar"><input class="button1" type="submit" value="Crear"></div>
        </form>
    </div>
</div>
<br>
<div >
    <img src="https://images.unsplash.com/photo-1595433707802-6b2626ef1c91?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" width="500" height="500">
    <img src="https://ih1.redbubble.net/image.3202742907.8616/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="375" height="500">
    <br><img src="https://i.pinimg.com/736x/05/61/0b/05610be4999bef621561e92c26112314.jpg" width="375" height="500">
</div>
<%- include('includes/foot.ejs') %>