
  <footer>
    <div class="footer">
        <div class="content has-text-centered">
            <h3>Sobre Este Lab</h3>
            <p>Laboratorio 19, Construcción de software y toma de desiciones</p>
            <p>&copy; Nico Hood A01705857 2024. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
