<%- include('includes/head.ejs', {
  username: username,
  permisos: permisos,
}) %>

    <div class="intro">
    <h1 class="title">Este es mi laboratorio 22</h1>

    <p>
      En esta actividad exploraremos algunos APIs de aplicaciones web, con el objetivo de que aprendas a integrar funcionalidad desarrollada por terceros en tus propias aplicaciones.
    </p>

    <br>
    <h1 class="subtitle">Ventajas y Desventajas de Integrar Servicios Web de Terceros en Aplicaciones Web</h1>
    <section>
        <h2>Ventajas</h2>
        <ul>
            <li><strong>Ahorro de tiempo:</strong> Utilizar servicios web desarrollados por terceros puede reducir significativamente el tiempo de desarrollo al no tener que crear funcionalidades desde cero.</li>
            <li><strong>Experiencia y Confiabilidad:</strong> Los servicios de terceros a menudo son desarrollados por equipos especializados y pueden ofrecer una alta fiabilidad y rendimiento.</li>
            <li><strong>Actualizaciones y Mantenimiento:</strong> Los proveedores de servicios web se encargan del mantenimiento y las actualizaciones, reduciendo la carga de trabajo de tu equipo de desarrollo.</li>
            <li><strong>Acceso a Tecnologías Avanzadas:</strong> Permite a las aplicaciones acceder a tecnologías y capacidades avanzadas sin una inversión significativa en desarrollo e investigación.</li>
            <li><strong>Escalabilidad:</strong> Los servicios web de terceros suelen estar diseñados para ser escalables, facilitando el manejo de crecimientos en la demanda.</li><br><br>
        </ul>
    </section>

    <section>
        <h2>Desventajas</h2>
        <ul>
            <li><strong>Dependencia:</strong> Genera una dependencia hacia el proveedor del servicio, lo que puede ser un riesgo si el servicio cambia o deja de estar disponible.</li>
            <li><strong>Limitaciones de Personalización:</strong> Puede haber limitaciones en cuánto se puede personalizar o extender un servicio, lo que podría no cumplir con todos los requisitos específicos del proyecto.</li>
            <li><strong>Costos a Largo Plazo:</strong> Aunque inicialmente puede ser más económico, los costos pueden aumentar significativamente a medida que la aplicación escala o si el proveedor del servicio aumenta sus tarifas.</li>
            <li><strong>Seguridad y Privacidad de Datos:</strong> Utilizar servicios externos implica enviar datos fuera de la infraestructura propia, lo que puede plantear riesgos de seguridad y privacidad.</li>
            <li><strong>Latencia:</strong> Integrar servicios externos puede introducir latencia adicional en las respuestas de la aplicación, afectando la experiencia del usuario.</li>
        </ul>
    </section>





<br>
    </div>
    <div class ="gatoc"><img src="https://ih1.redbubble.net/image.4717906699.9120/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="375" height="500"></div>
    </div>
    <br>
    <%- include('includes/foot.ejs') %>
